h3 {
  margin: 40px 0 0;
}

ul {
  border: 1px solid white;
  border-radius: 5px;
  list-style-type: none;
  padding: 0;
}

a {
  color: #42b983;
  display: block;
}

.menu-contrainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  background-color: white;
  margin-top: 10vh;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  background-color: white;
}

.date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 35vh;
  color: black;
  margin-top: 30px;
  font-size: 25px;
}

.signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 150px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 40px;
  margin-top: 30px;
}

.home {
  margin-top: 1vh;
  background-color: #ededed;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.banner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  margin-left: 21vh;
  margin-right: 21vh;
  -webkit-box-shadow: 0 0px 7px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 0px 7px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
}

#Categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  width: 20%;
}

#Categories .categoryItem {
  margin-left: 10px;
  height: 40px;
}

#Categories li {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0px;
  text-align: left;
}

#Banners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.active {
  background: green;
  color: white;
}

#Auction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

#Auction .deck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card {
  margin-right: 50px;
  margin-left: 50px;
  width: 100%;
}

.card-group {
  max-width: 25%;
}

.cards-list {
  width: 100%;
  margin: 2vh 0px 0px 0px;
}

.cards-list .cards-details {
  float: left;
  width: 20%;
  padding: 1vh;
}

.cards-list .cards-details .image-dis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.cards-list .cards-details .text-title {
  font-size: 2hv;
}

.shadow {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*# sourceMappingURL=HomePage.css.map */